<table>
    <tr>
        <td>Id</td>
        <td>{{id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{product.name}}</td>
    </tr>
    <tr>
        <td>Image</td>
        <td> <img width="150px" src="https://localhost:5002/{{product.image}}" alt=""></td>
    </tr>
    <tr>
        <td>Cost</td>
        <td>{{product.cost}}</td>
    </tr>
    <tr>
        <td>IsDeleted</td>
        <td>{{product.isDeleted}}</td>
    </tr>
</table>
<a class="btn btn-primary" routerLink="['overview']">Overview</a>
<a class="btn btn-primary" routerLink="['projects']">Projects</a>
<a class="btn btn-default" routerLink="['/home/listproduct']" routerLinkActive="active">Go back</a>