<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Details</td>
            <td>Image</td>
            <td>Cost</td>
            <td>IsDeleted</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.details}}</td>
            <td> <img width="150px" src="https://localhost:5002/{{product.image}}" alt=""></td>
            <td>{{product.cost}}</td>
            <td>{{product.isDeleted}}</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" routerLink="/home/listproduct" routerLinkActive="active">Go back</a>
