<form [formGroup]="productService.formProduct" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group col-md-8 required">
        <label>Name</label>
        <input class="form-control" formControlName="Name">
    </div>
    <div class="form-group col-md-8 required">
        <label>Details</label>
        <input class="form-control" formControlName="Details">
    </div>
    <div class="form-group col-md-8 required">
        <label>Image</label>
        <input class="form-control" formControlName="Image">
    </div>
    <div class="form-group col-md-8 required">
        <label>UpLoadImage</label>
        <input type="file" class="form-control" formControlName="UpLoadImage">
    </div>
    <div class="form-group col-md-8 required">
        <label>Cost</label>
        <input class="form-control" formControlName="Cost">
    </div>
    <div class="form-row">
        <div class="form-group col-md-8 offset-md-4">
            <button type="submit" class="btn btn-warning btn-block" [disabled]="!productService.formProduct.valid">Creat</button>
        </div>
    </div>
</form>