<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Name</td>
            <td>Image</td>
            <td>Cost</td>
            <td>IsDeleted</td>
            <td>Options</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of listProducts">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.details}}</td>
            <td> <img width="150px" src="{{product.image}}" alt=""></td>
            <td>{{product.cost}}</td>
            <td>{{product.isDeleted}}</td>
            <td>
                <a [routerLink]="['/productdetails',product.id]">Show details</a>
            </td>
        </tr>
    </tbody>
</table>
