<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Name</td>
            <td>Image</td>
            <td>Cost</td>
            <td>IsDeleted</td>
            <td>Options</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of listProducts">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.details}}</td>
            <td> <img width="150px" src="https://localhost:5002/{{product.image}}" alt=""></td>
            <td>{{product.cost}}</td>
            <td>{{product.isDeleted}}</td>
            <td>
                <a [routerLink]="['/home/productdetails',product.id]">Show detail</a>
            </td>
        </tr>
    </tbody>
</table>
<app-listimages></app-listimages>
